<hr/>
<p class="p m-3">{{notification_validate}}</p>

<a class="btn btn-primary mr-4" href="?execute=true">
    {{create_task}}
</a>

<a class="btn btn-primary" href="{{{return_site}}}">
    {{text_return}}
</a>
