
<p>{{indications}}</p>

<div class="container mt-5">
    <div class="row border">
        <div class="col-3 h4 text-primary border-right">copyshortname</div>
        <div class="col-9 font-weight-bold text-dark">{{copyshortname}}</div>
    </div>

    <div class="row border">
        <div class="col-3 h4 text-primary border-right">fullname</div>
        <div class="col-9 font-weight-bold text-dark">{{fullname}}</div>
    </div>

    <div class="row border">
        <div class="col-3 h4 text-primary border-right">shortname</div>
        <div class="col-9 font-weight-bold text-dark">{{shortname}}</div>
    </div>

    <div class="row border">
        <div class="col-3 h4 text-primary border-right">category</div>
        <div class="col-9 font-weight-bold text-dark">{{category}}</div>
    </div>

    <div class="row border">
        <div class="col-3 h4 text-primary border-right">visible</div>
        <div class="col-9 font-weight-bold text-dark">{{visible}}</div>
    </div>

    <div class="row border">
        <div class="col-3 h4 text-primary border-right">startdate</div>
        <div class="col-9 font-weight-bold text-dark">{{startdate}}</div>
    </div>

    <div class="row border">
        <div class="col-3 h4 text-primary border-right">enddate</div>
        <div class="col-9 font-weight-bold text-dark">{{enddate}}</div>
    </div>
</div>
